<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_rootLink0" type="revolute">
       <parent link="rootLink"/>
       <child  link="rootLink0"/>
       <origin rpy="0 0 0" xyz="0 0 1.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink0">
        <inertial>
            <origin xyz="0 0 0.939625798578068" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.939625798578068" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.879251597156136" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.939625798578068" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.879251597156136" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink0_rootLink00" type="revolute">
       <parent link="rootLink0"/>
       <child  link="rootLink00"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.939625798578068" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink00">
        <inertial>
            <origin xyz="0 0.6444400627940918 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6444400627940918 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.2888801255881837 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6444400627940918 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.2888801255881837 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink00_rootLink000" type="revolute">
       <parent link="rootLink00"/>
       <child  link="rootLink000"/>
       <origin rpy="0 0 0" xyz="0 0.6444400627940918 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink000">
        <inertial>
            <origin xyz="0 0 0.6876436902037046" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6876436902037046" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.3752873804074093" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6876436902037046" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.3752873804074093" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink000_rootLink0000" type="revolute">
       <parent link="rootLink000"/>
       <child  link="rootLink0000"/>
       <origin rpy="0 0 0" xyz="0 0 1.3752873804074093" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink0000">
        <inertial>
            <origin xyz="0 0 0.9106596893677698" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9106596893677698" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.8213193787355395" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9106596893677698" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.8213193787355395" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink00_rootLink001" type="revolute">
       <parent link="rootLink00"/>
       <child  link="rootLink001"/>
       <origin rpy="0 0 0" xyz="0.5 0.6444400627940918 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink001">
        <inertial>
            <origin xyz="0.867955328000821 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.867955328000821 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.735910656001642 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.867955328000821 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.735910656001642 1 1" />
            </geometry>
        </collision>
    </link>
</robot>