<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_rootLink1" type="revolute">
       <parent link="rootLink"/>
       <child  link="rootLink1"/>
       <origin rpy="0 0 0" xyz="0 0 1.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink1">
        <inertial>
            <origin xyz="0 0 0.8692445183844036" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8692445183844036" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.7384890367688073" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8692445183844036" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.7384890367688073" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink1_rootLink10" type="revolute">
       <parent link="rootLink1"/>
       <child  link="rootLink10"/>
       <origin rpy="0 0 0" xyz="0.5 0 0.8692445183844036" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink10">
        <inertial>
            <origin xyz="0.8111614098955315 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.8111614098955315 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.622322819791063 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.8111614098955315 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.622322819791063 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink10_rootLink100" type="revolute">
       <parent link="rootLink10"/>
       <child  link="rootLink100"/>
       <origin rpy="0 0 0" xyz="0.8111614098955315 0.5 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink100">
        <inertial>
            <origin xyz="0 0.5354956251757874 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5354956251757874 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.0709912503515748 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5354956251757874 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.0709912503515748 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink10_rootLink101" type="revolute">
       <parent link="rootLink10"/>
       <child  link="rootLink101"/>
       <origin rpy="0 0 0" xyz="0.8111614098955315 0 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink101">
        <inertial>
            <origin xyz="0 0 0.7686803519712123" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7686803519712123" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.5373607039424246" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7686803519712123" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.5373607039424246" />
            </geometry>
        </collision>
    </link>
</robot>