<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_rootLink2" type="revolute">
       <parent link="rootLink"/>
       <child  link="rootLink2"/>
       <origin rpy="0 0 0" xyz="0 0 1.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2">
        <inertial>
            <origin xyz="0 0 0.5773416768317294" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5773416768317294" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.1546833536634589" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5773416768317294" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.1546833536634589" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink2_rootLink20" type="revolute">
       <parent link="rootLink2"/>
       <child  link="rootLink20"/>
       <origin rpy="0 0 0" xyz="0 0 1.1546833536634589" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink20">
        <inertial>
            <origin xyz="0 0 0.6338154312255588" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6338154312255588" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.2676308624511177" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6338154312255588" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.2676308624511177" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink20_rootLink200" type="revolute">
       <parent link="rootLink20"/>
       <child  link="rootLink200"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.6338154312255588" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink200">
        <inertial>
            <origin xyz="0 0.9508467840189094 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.9508467840189094 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.9016935680378189 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.9508467840189094 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.9016935680378189 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink200_rootLink2000" type="revolute">
       <parent link="rootLink200"/>
       <child  link="rootLink2000"/>
       <origin rpy="0 0 0" xyz="0 0.9508467840189094 0.5" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2000">
        <inertial>
            <origin xyz="0 0 0.8166317359422949" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8166317359422949" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.6332634718845898" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8166317359422949" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.6332634718845898" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink200_rootLink2001" type="revolute">
       <parent link="rootLink200"/>
       <child  link="rootLink2001"/>
       <origin rpy="0 0 0" xyz="0.5 0.9508467840189094 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2001">
        <inertial>
            <origin xyz="0.7093800787080028 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.7093800787080028 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4187601574160056 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.7093800787080028 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4187601574160056 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink2001_rootLink20010" type="revolute">
       <parent link="rootLink2001"/>
       <child  link="rootLink20010"/>
       <origin rpy="0 0 0" xyz="1.4187601574160056 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink20010">
        <inertial>
            <origin xyz="0.5366073946878958 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5366073946878958 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0732147893757915 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5366073946878958 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0732147893757915 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink200_rootLink2002" type="revolute">
       <parent link="rootLink200"/>
       <child  link="rootLink2002"/>
       <origin rpy="0 0 0" xyz="0 0.0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2002">
        <inertial>
            <origin xyz="0 -0.6300821617253237 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.6300821617253237 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.2601643234506474 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.6300821617253237 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.2601643234506474 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink2002_rootLink20020" type="revolute">
       <parent link="rootLink2002"/>
       <child  link="rootLink20020"/>
       <origin rpy="0 0 0" xyz="0 -0.6300821617253237 0.5" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink20020">
        <inertial>
            <origin xyz="0 0 0.7398314251429392" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7398314251429392" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.4796628502858784" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7398314251429392" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.4796628502858784" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink20_rootLink202" type="revolute">
       <parent link="rootLink20"/>
       <child  link="rootLink202"/>
       <origin rpy="0 0 0" xyz="0.5 0 0.6338154312255588" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink202">
        <inertial>
            <origin xyz="0.8309568540911382 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.8309568540911382 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6619137081822764 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.8309568540911382 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6619137081822764 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink202_rootLink2020" type="revolute">
       <parent link="rootLink202"/>
       <child  link="rootLink2020"/>
       <origin rpy="0 0 0" xyz="1.6619137081822764 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2020">
        <inertial>
            <origin xyz="0.8687346429061567 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.8687346429061567 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7374692858123133 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.8687346429061567 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7374692858123133 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink2020_rootLink20200" type="revolute">
       <parent link="rootLink2020"/>
       <child  link="rootLink20200"/>
       <origin rpy="0 0 0" xyz="0.8687346429061567 0 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink20200">
        <inertial>
            <origin xyz="0 0 0.9251090166957623" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9251090166957623" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.8502180333915246" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9251090166957623" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.8502180333915246" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink20200_rootLink202000" type="revolute">
       <parent link="rootLink20200"/>
       <child  link="rootLink202000"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.9251090166957623" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink202000">
        <inertial>
            <origin xyz="0 0.6022580388408798 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6022580388408798 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.2045160776817596 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6022580388408798 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.2045160776817596 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink202000_rootLink2020000" type="revolute">
       <parent link="rootLink202000"/>
       <child  link="rootLink2020000"/>
       <origin rpy="0 0 0" xyz="0.5 0.6022580388408798 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2020000">
        <inertial>
            <origin xyz="0.9383938324581858 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9383938324581858 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8767876649163715 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9383938324581858 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.8767876649163715 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink20200_rootLink202001" type="revolute">
       <parent link="rootLink20200"/>
       <child  link="rootLink202001"/>
       <origin rpy="0 0 0" xyz="0 0 1.8502180333915246" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink202001">
        <inertial>
            <origin xyz="0 0 0.6887890874227258" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6887890874227258" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.3775781748454516" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6887890874227258" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.3775781748454516" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink202001_rootLink2020010" type="revolute">
       <parent link="rootLink202001"/>
       <child  link="rootLink2020010"/>
       <origin rpy="0 0 0" xyz="-0.5 0 0.6887890874227258" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2020010">
        <inertial>
            <origin xyz="-0.7168222580752074 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.7168222580752074 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4336445161504148 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.7168222580752074 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.4336445161504148 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink202001_rootLink2020011" type="revolute">
       <parent link="rootLink202001"/>
       <child  link="rootLink2020011"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.6887890874227258" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2020011">
        <inertial>
            <origin xyz="0 -0.5022032902502718 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5022032902502718 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.0044065805005435 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5022032902502718 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.0044065805005435 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink202_rootLink2022" type="revolute">
       <parent link="rootLink202"/>
       <child  link="rootLink2022"/>
       <origin rpy="0 0 0" xyz="0.8309568540911382 0.5 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink2022">
        <inertial>
            <origin xyz="0 0.6880950185749896 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6880950185749896 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.3761900371499791 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6880950185749896 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.3761900371499791 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink2022_rootLink20221" type="revolute">
       <parent link="rootLink2022"/>
       <child  link="rootLink20221"/>
       <origin rpy="0 0 0" xyz="0 0.0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink20221">
        <inertial>
            <origin xyz="0 -0.7837751446751584 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.7837751446751584 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.5675502893503168 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.7837751446751584 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1.5675502893503168 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink20221_rootLink202212" type="revolute">
       <parent link="rootLink20221"/>
       <child  link="rootLink202212"/>
       <origin rpy="0 0 0" xyz="0 -0.7837751446751584 0.5" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink202212">
        <inertial>
            <origin xyz="0 0 0.945265425484362" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.945265425484362" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.890530850968724" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.945265425484362" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1.890530850968724" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink2_rootLink21" type="revolute">
       <parent link="rootLink2"/>
       <child  link="rootLink21"/>
       <origin rpy="0 0 0" xyz="0.5 0 0.5773416768317294" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="rootLink21">
        <inertial>
            <origin xyz="0.8304610698105627 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.8304610698105627 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6609221396211253 1 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.8304610698105627 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.6609221396211253 1 1" />
            </geometry>
        </collision>
    </link>
</robot>